.feedback-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  }
  
.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
.input-label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
input, select, textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
textarea {
    resize: vertical;
  }
  
button {
    padding: 8px 16px;
    font-size: 16px;
    margin-top: 10px;
    background-color: #ec8991;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #0056b3;
  }
  
.submit-button {
    width: 100%;
    background-color: #28a745;
  }
  
.submit-button:hover {
    background-color: #218838;
  }
  
.add-question-button,
.remove-button {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .add-question-button:hover,
  .remove-button:hover {
    background-color: #f0f0f0;
  }
  